.naslov{
    color: white;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
}
.naslov h3{
    display: inline-block;
    width: 18%;
}
input{
    color: black;
    font-size: 20px;
}
.total{
    color: white;
    padding-bottom: 50px;
    text-align: right;
}
#contact-form input{
    background-color: rgba(206, 104, 14, 0.2);
    color: white;
    border: none;
    width: 60%;
    margin: 20px auto;
}
#contact-form input::placeholder{
    color: white;
}
#click{
    background-color: white;
    color: red;
}
#naslov-order{
    text-align: center;
    color: white;
    margin: 10px auto;
}