body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}
::-webkit-scrollbar {
    display: none;
}
nav{
    background-color: #010101;
    color: #f5f5f5;
    padding: 30px;
}
a{
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: #f5f5f5;
}
.wrappper{
    width: 1100px;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    align-content: space-between;
}
a.naslov{
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #f5f5f5;

}
.meni{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.meni a{
    display: inline-block;;
    margin-right: 15px;
    box-sizing: border-box;
    text-decoration: none;
}
.meni a:hover{
    color: #f5f5f5;
    border-bottom: 1px solid whitesmoke;
    transition: ease-in 0.2s;

}
footer{
    text-align: center;
}
.credits{
    background-color: #010101;
    color: white;
    padding: 10px;
}
.opis{
    background-color: #393e46;
    padding: 30px;
    color: white;
    display: flex;
}
.mreze{
    width: 50%;
}
.widget{
    width: 50%;
}
.jumbotron{
}
.jumbotron img{
    width: 100%;
}
.header{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    background-color: rgba(0,0,0,0.9);
    padding: 50px 200px;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    font-size: 3.5rem;
    font-family: 'Parisienne', cursive;
}
.ikone{
    background-color: #010101;
    color: white;
    padding-top: 70px;
    padding-bottom: 60px;
}
.ikone2{
    display: flex;
    justify-content: space-between;
}
.item{
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.item p{
    margin-top: 20px;
}
.izrekaKont{
text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    padding: 100px;
    background-color: #010101;
    color: whitesmoke;
}
.onama{
    text-align: center;
    background-color: whitesmoke;
    color: black;
    padding: 80px;
}
.nasi{
    text-align: center;
    background-color: whitesmoke;
    color: black;
    padding: 50px;
}

.mreze{
    margin: 10px;
}
.proizvodi{
    display: flex;
    justify-content: center;

}
.proizvod{
    width: 25%;
    box-sizing: border-box;
}
.proizvod img, .proizvod2 img{
    width: 100%;
}

.proizvod div{
    background-color: #010101;
    padding: 30px;
    text-align: center;
    color: whitesmoke;
}

.linija{
    border-top: 1px solid whitesmoke;
    width: 20%;
}
.proizvod:hover{
    transition: ease-in 0.2s;
    border: 1px solid whitesmoke;
    transform: scale(1.03);
}
.kontakt{
    text-align: center;
    padding: 70px;
}
.kontakt a{
    background: #010101;
    color: whitesmoke;
    padding: 10px 30px;
    border-radius: 10px;
    font-size:1.2rem;
}
.kontakt p{
    margin:30px;
}
.info{
    text-align: center;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.info div{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
}
form input, form textarea, form button{
    width: 60%;
    margin: 10px auto;
}
#email{
    width: 60%;
}
.onama2 img{
    width: 50%;
}
.onama2{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.podaci{
    display: flex;
    text-align: center;
    align-items: center;
}
.podaci .text{
    padding: 30px;
}
.crni{
    background: #010101;
    color: whitesmoke;
}
.naslovshop{
    padding: 60px;
}
.lista{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
}
.korpica{
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
}
.korpica img{
    width: 100%;
    margin-bottom: 15px;
}
.naslovkorpica{
    display: flex;
    justify-content: space-between;
}
.stavka{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stavka img{
    width: 10%;

}
.korpa{
    padding-bottom: 100px;
}
.ukupno{
    display: flex;
    justify-content: flex-end;
}
.checkout{
    width: 50%;
    text-align: center;

}
.dobrodoslica{
    padding: 60px;
    text-align: center;
}
.forma{
    padding: 50px;
    text-align: center;
}
.narudzbeStranica{
    padding: 60px;
    text-align: center;
}
.informacijeNarudzba{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.narudzbeSve{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.izbrisani{
    text-align: center;
    padding: 50px;
}
.opisProizvoda{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#forma{
    display: flex;
    justify-content: space-between;
}
#forma input{
    width: 100%;
}
#linkplacanje{
    color: whitesmoke;
    text-decoration: none;
}
#formcheckout{
    width: 70%;
    margin: 0 auto;
}
.zahvala{
    padding: 100px;
    text-align: center;
}
.total{
    margin-top: 50px;
}
.naslovorder{
    padding: 60px;
}
.sek{
text-align: center;
    padding: 50px;
}
.single{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single img{
    width: 50%;
}
.singleInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.blogovi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.blog img{
    width: 30%;
}
.blogSvi{
    padding: 100px;
}